<div class="col-10 offset-1 about">
  <h1>
    About Splurty
  </h1>
  
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/kwurohe">Keren</a>, a teacher who wants to use technology to provide better opportunities for kids.
  </p>
  <p>
    Keren is excited to use her new coding skills to build some awesome classroom apps!
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'keren.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Keren WuRohe</h2>
      <br />
      <p>
        Keren is a High School Math teacher in Lawrence, MA, where she loves to use technology in the classroom and dream about what education will look like in the future. 
      </p>
    </div>
  </div>
  <br class="clear" />
  
  <br/ >
  <br/ >
  <br/ >
  <br/ >
  
</div>