<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Here's a quote for you!
</h2>
<br />
<h1 class="mainquote"><%= @quote.saying %></h1>
<br />
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />